body {
  font-family: "Source Code Pro", monospace;
  color: black;
}
ul {
  list-style: none;
}
.btn {
  border-color: black;
  color: black;
}
.btn:hover {
    background-color: black;
    color: white;
}
.form-control:hover {
    border-color: black;
}
.navbar {
    font-size: 24px;
}
h1 {
  display: flex;
  justify-content: center;
  color: white;
}
.need {
  padding-top: 300px;
  padding-bottom: 300px;
  background-image: url(https://images.wallpaperscraft.ru/image/single/noutbuk_klavishi_kod_211625_2560x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.need__text {
  color: black;
  display: inline;
  text-decoration: underline;
  text-shadow: 0px 0px 20px #A6A6A6;
  background-color: white;
  border
}
.need__background {
  display: flex;
  justify-content: center;
}
.vacations {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.vacations__title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.vacations__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.benefits {
  background-color: rgb(225, 225, 225);
  padding-top: 40px;
  padding-bottom: 40px;
}
.benefits__title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.benefits-block {
  display: flex;
  justify-content: space-between;
}
.benefits__subblock {
  max-width: 450px;
}
.w-100 {
  max-width: 600px;
}
.btn {
  background-color: transparent;
}